body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.center-box{
    background-color: white;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    gap: 2rem;
}
.btn-choice{
    padding: 20px 20px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 100%;
    font-size: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
#resetButton{
  background: #8d8d8d3b;
  color: #313131dd;
  font-weight: bold;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 3px;
}
.hidden{
    display: none;
}
.resetBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn-choice:hover{
    background: #c9c9c9;
}
.pScoreBox, .cScoreBox,.pMsgBox,.cMsgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}
#playerScore, #computerScore, #playerIcon, #computerIcon{
    font-weight: bold;
}
#gameMsg {
  background: #8d8d8d3b;
  color: #313131dd;
  font-weight: bold;
  padding: 1rem 5rem;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 3px;
  transition: 0.3s;
}

#gameMsg.win {
  background: #2ecc71;
  color: #186b3a;
}

#gameMsg.lose {
  background: #e74c3c;
  color: #7f1b0f;
}

#gameMsg.tie {
  background: #f1c40f;
  color: #5e4d08;
}
.score-wrapper{
    display: flex;
    width: 450px;
    justify-content: space-between;
    font-size: 1rem;
}
.msg-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.buttons-wrapper{
    display: flex;
    gap: 3rem;
}